h1{
	color: blue;
	font-size: 90px;
}
h2{
	color: blue;
	font-family: Arial;
}
p{
	color: white;
	font-family: Courier New;
}
p::first-letter{
	font-size: xx-large;
}
li{
	color: white;
}
body{
	background-color: black;
}
a:hover {
	text-decoration: underline;
}
a{
	text-decoration:none
}